.german-flag { 
    background-color: grey;
    height: 300px;
    width: 300px;
}

.black {
    background-color: black;
    height: 100px;
    width: 300px;
}

.red {
    background-color: red;
    height: 100px;
    width: 300px;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 300px;
}

.one {
    float: left;
    background-color: blue;
    height: 300px;
    width: 100px;
}

.two {
    float: left;
    background-color: white;
    height: 300px;
    width: 100px;
}

.three {
    float: left;
    background-color: red;
    height: 300px;
    width: 100px;
    margin: auto;
}