.one {
    float: left;
    background-color: blue;
    height: 300px;
    width: 100px;
}

.two {
    float: left;
    background-color: white;
    height: 300px;
    width: 100px;
}

.three {
    float: left;
    background-color: red;
    height: 300px;
    width: 100px;
}