@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Oswald&family=Road+Rage&family=Shippori+Antique+B1&display=swap'); 

* {
    margin: 20px;
    background-color: #f2f2f2;
}

#title {
    color: #020002;
    font-family: "Anton";
    background-color: #f2f2f2;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

