@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Oswald&family=Road+Rage&family=Shippori+Antique+B1&display=swap");

* {
  background-color: #f2f2f2;
}

.main-container {
  background-color: #f2f2f2;
}

#title {
  color: #020002;
  font-family: "Anton";
  background-color: #f2f2f2;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 400px;
  font-family: "Kanit";
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  border-radius: 20px;
  padding: 30px;
  background-color: #ecf0f3;
}

#display {
  height: 100px;
  box-shadow: inset 6px 2px 10px #fff, inset -2px -1px 12px rgba(0, 0, 0);
  background-color: #ecf0f3;
  border: none;
  border-radius: 32px;
  color: rgb(26, 25, 25);
  text-align: end;
  margin: 20px 0px 30px 0px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  margin: 15px;
  background-color: #ecf0f3;
}

.button {
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
  box-shadow: inset 6px 6px 13px #fff;
  background-color: #ecf0f3;
  border: none;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

#equal {
  background-color: #c04000;
}

#ce {
  background-color: #e3963e;
}

#parentheses {
  background-color: #e3963e;
}

#percentage {
  background-color: #e3963e;
}

#minus {
  background-color: #e3963e;
}

#x {
  background-color: #e3963e;
}

#divide {
  background-color: #e3963e;
}

#plus {
  background-color: #e3963e;
}

.button:hover {
  background-color: #020002;
  color: white;
  transition: 0.5 ease-in-out;
}

#wave {
  z-index: 9;
}
