@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Oswald&family=Road+Rage&family=Shippori+Antique+B1&display=swap'); 

* {
    margin: 20px;
    background-color: #f2f2f2;
}

#title {
    color: #020002;
    font-family: "Anton";
    background-color: #f2f2f2;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 465px;
    font-family: "Kanit";
    font-size: 20px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153,1);
}

