@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    height: auto;
}

.nav-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-sub {
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    word-spacing: 10em;
}

.about_nav {
    color: black;
    font-size: 20px;
}

.portfolio {
    color: black;
    font-size: 20px;
}

.contact {
    color: black;
    font-size: 20px;
}

.logo {
    color: black;
    font-family: 'Castoro', serif;
    font-size: 20px;
    margin-right: auto;
    padding: 0 30px;
}

.header{
    display: grid;
    justify-content: center;
    padding: 10px;

   &__softwaredev {
        font-family: Castoro;
        margin-top: 20px;
        padding: 0 250px;
        font-size: 60px;
    }

    &__image {
        display: grid;
        justify-content: center;
        margin-top: 100px;
        padding: 0 400px;
    }

    &__subheading {
        padding: 0 280px;
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 30px;
    }

    &__info-1 {
        padding: 0 310px;
        line-height: 10px;
    }
    
    &__info-2 {
        padding: 0 330px;
        line-height: 0px;
    }

    &__work-together{
        padding: 0 430px;
    }
}


.about-container {
    background: #273036;
    display: flex;
    justify-content:space-evenly;
}
.about {
    background-color: #273036;
    height: 500px;
    width: 500px;
    margin: 40px;

}

.about__title {
    color: white;
    text-align: center;
}

.about__me {
    color: white;
}

.about__portfolio {
    color: white;
    text-align: end;
}

.wave {
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}


.image {
    display: flex;
}

.tech-image {
    position: absolute;
    margin-top: 130px;
    padding: 0 40px;
}

.ellipse {
    position: relative;
    top: 0;
    left: 0;
}

    






