@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Josefin+Sans&display=swap');
* {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    height: auto;
}

.nav-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-sub {
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    word-spacing: 10em;
}

.about {
    color: black;
    font-size: 16px;
}

.portfolio {
    color: black;
    font-size: 16px;
}

.contact {
    color: black;
    font-size: 16px;
}

.logo {
    color: black;
    font-family: 'Castoro', serif;
    font-size: 20px;
    margin-right: auto;
    padding: 0 30px;
}

.header-container {
    border: 1px solid black;
    display: grid;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-family: Castoro;
    margin-top: 20px;
    padding: 0 250px;
    font-size: 60px;
}

img {
    display: grid;
    justify-content: center;
    margin-top: 100px;
    padding: 0 400px;
}

h3 {
    padding: 0 280px;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 30px;
}

.info-1 {
    padding: 0 310px;
    line-height: 10px;
}

.info-2 {
    padding: 0 330px;
    line-height: 0px;
}

.work-together {
    padding: 0 450px;
}